body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0%;
}

.header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.header > div {
    color: bisque;
    font-size: large;
}

.header > .logo {
    margin-right: auto;
}

